.ripple-grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ripple-grid-container canvas {
  position: absolute;
  inset: 0;
  display: block;
  background-color: black;
}
